.add-route {
    padding: 25px 10px;
    box-shadow: 0 0 5px;
    label {
        display: block;
        span {
            display: block;
            color: #aaaaaa;
            padding-bottom: 5px;
        }
        .input-wrapper {
            position: relative;
            .input-box();
            span {
                display: inline-block;
                position: absolute;
                right: 5px;
                top: 0.5em;
            }
        }
        input {
            padding: 10px 5px;
            width: 100%;
            border: 0;
            outline: none;
        }
        &:first-child {
            padding-bottom: 20px;
        }
    }
}